.twin-panel { 
  display: flex; 
  align-items: center;
  gap: var(--s2);
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  @media screen and (min-width: 768px) {
    gap: var(--s4);
  }
}
.twin-panel > * { flex: 1; }

.narrow-content { max-width: 50ch; }

strong { color: inherit !important; }

blockquote {
  font-size: 1.5rem;
  font-weight: 300;
  max-width: 60ch;
  margin-inline: auto;
}
cite { 
  font-weight: 600;
  margin-top: var(--s0);
  font-style: normal;
}

h3, [visual='h3'] { text-align: center; }

h3 a, 
[visual='h3'] a { 
  color: var(--accent-color) !important; 
}

.page .base-section a:not(.button) {
  color: var(--accent-color);
}
