/* This fixes a conflict with @container queries */
.width\:100\% { width: 100%; }
.center--forced { width: 100%; } /* This is a hack to center the content in the container shoudl be replaced by .width:100% */

[unstyled="all"] { all: unset; }
[unstyled="color"] { color: unset; }

:root {
  --sidebar-width: 300px;
}

.has-sidebar {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  aside {
    width: var(--sidebar-width);
    flex-shrink: 0;   
  }
}

.custom-list { 
  list-style: none; 
  
  > li {
    list-style-type: none;
    --space: var(--s-2);
    padding-left: var(--s0);
    position: relative;
  }
}

.custom-list li:before {
  content: '';
  color: var(--primary-color);
  border-left: 6px solid var(--secondary-color);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  position: absolute;
  left: 2px;
  top: 7px;
}

.split-panel {
  display: grid;
  grid-template-columns: 1fr;
  @media (min-width: 768px) { grid-template-columns: auto auto; }
}

.split-panel[align-items="center"] { align-items: center; }
.split-panel[align-items="start"] { align-items: start; }
.split-panel[align-items="end"] { align-items: end; }


.span-content { 
  * + * { margin-top: var(--s-1); }

  @media (max-width: 768px) { }
  @media (min-width: 768px) { padding-inline: var(--s2); }
 }

.center--with-sidebar { padding-right: calc(var(--s0) + var(--sidebar-width)) !important; }

.hide,
[hide] { display: none !important; }

.aux,
[aux] { outline: 2px solid red; }

/* =============================== */
/* h2 { text-transform: uppercase; } */

/* .twin-panel { 
  display: flex; 
  align-items: center;
  gap: var(--s2);
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  @media screen and (min-width: 768px) {
    gap: var(--s4);
  }
}
.twin-panel > * { flex: 1; }

.narrow-content { max-width: 50ch; }

strong { color: inherit !important; }

blockquote {
  font-size: 1.5rem;
  font-weight: 300;
  max-width: 60ch;
  margin-inline: auto;
}
cite { 
  font-weight: 600;
  margin-top: var(--s0);
  font-style: normal;
}

h3, [visual='h3'] { text-align: center; }

h3 a, 
[visual='h3'] a { 
  color: var(--accent-color) !important; 
}

.page .base-section a:not(.button) {
  color: var(--accent-color);
} */
