/* This fixes a conflict with @container queries */
.width\:100\% { width: 100%; }
.center--forced { width: 100%; } /* This is a hack to center the content in the container shoudl be replaced by .width:100% */

:root {
  --sidebar-width: 300px;
}

.has-sidebar {
  display: flex;
  justify-content: space-between;

  aside {
    width: var(--sidebar-width);
    flex-shrink: 0;
  }
}

.center--with-sidebar {
  padding-right: calc(var(--s0) + var(--sidebar-width)) !important;
}













/* =============================== */
/* h2 { text-transform: uppercase; } */

/* .twin-panel { 
  display: flex; 
  align-items: center;
  gap: var(--s2);
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  @media screen and (min-width: 768px) {
    gap: var(--s4);
  }
}
.twin-panel > * { flex: 1; }

.narrow-content { max-width: 50ch; }

strong { color: inherit !important; }

blockquote {
  font-size: 1.5rem;
  font-weight: 300;
  max-width: 60ch;
  margin-inline: auto;
}
cite { 
  font-weight: 600;
  margin-top: var(--s0);
  font-style: normal;
}

h3, [visual='h3'] { text-align: center; }

h3 a, 
[visual='h3'] a { 
  color: var(--accent-color) !important; 
}

.page .base-section a:not(.button) {
  color: var(--accent-color);
} */
